body {
  background: linear-gradient(#2874CB, #9ADBFE);
  cursor: -webkit-grab;
}
body:active {
  cursor: -webkit-grabbing;
}


.platform-3d {
  position: relative;
  @include perspective(800px);
  width: 100vw;
  height: 100vh;
  min-width: 300px;
  min-height: 300px;
  display: flex;
  overflow: hidden;

  * {
    transform-style: preserve-3d;
  }
}

/* Floor */
.platform-3d__rotate {
  will-change: transform;
  transform: rotateX(70deg) rotateZ(45deg) translateZ(0);
  width: 0;
  height: 0;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

/* X Y Z Axis */
.platform-3d__axis {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 200vw;
  border-left-width: 1px;
  border-left-style: solid;
  pointer-events: none;
  transform-origin: top;
}
.platform-3d__axis:after {
  content: "";
  position: absolute;
  border-left-width: 1px;
  border-left-style: dashed;
  height: 100%;
  width: 0;
  bottom: 100%;
  left: -1px;
}

/* X Axis */
.platform-3d__x-axis {
  transform: rotateZ(-90deg);
  border-color: red;
}
.platform-3d__x-axis:after {
  border-color: red;
}

/* Y Axis */
.platform-3d__y-axis {
  border-color: green;
}
.platform-3d__y-axis:after {
  border-color: green;
}

/* Z Axis */
.platform-3d__z-axis {
  transform: rotateX(90deg);
  border-color: blue;
}
.platform-3d__z-axis:after {
  border-color: blue;
}
