body {
  background: linear-gradient(#2874CB, #9ADBFE);
  cursor: -webkit-grab;
}
body:active {
  cursor: -webkit-grabbing;
}


/* Fuselage */
.blimp__fuselage {
  transform: rotateZ(90deg) translate(-50%, -50%);
  left: 0;
  top: 0;
  width: 202px;
  height: 640px;
  position: absolute;
  transform-origin: top left;
}

/* Blimp Fuselage */
.bf {
  border: 1px solid transparent;
  width: 30px;
  height: 70px;
  position: absolute;
  left: -1px;
}
.bf--center {
  background: rgba(0, 255, 0, 0.5);
  transform: rotateY(-18deg) translateX(100%);
  transform-origin: right center;
  height: 180px;
  top: -1px;
}
.bf--front {
  background: rgba(255, 0, 0, 0.5);
  transform: translateY(99%) rotateX(6deg);
  transform-origin: top;
  height: 40px;
  bottom: -1px;
}
.bf--back {
  background: rgba(0, 0, 255, 0.5);
  transform: translateY(-99%) rotateX(-6deg);
  transform-origin: bottom;
  height: 40px;
  top: -1px;
}
.bf--front.bf--end {
  border-radius: 0 0 50% 50%;
}
.bf--back.bf--end {
  border-radius: 50% 50% 0 0;
}