body {
  background: linear-gradient(#2874CB, #9ADBFE);
  cursor: -webkit-grab;
}
body:active {
  cursor: -webkit-grabbing;
}


/* Fuselage */
.blimp__fuselage {
  transform: rotateZ(90deg) translate3d(-50%, -50%, -95px);
  left: 0;
  top: 0;
  width: 202px;
  height: 640px;
  position: absolute;
  transform-origin: top left;
}

/* Blimp Fuselage */
.bf {
  border: 1px solid transparent;
  width: 42px;
  height: 70px;
  position: absolute;
  left: -1px;
}
.bf--center {
  background: rgba(0, 255, 0, 0.5);
  transform: rotateY(-18deg) translateX(100%);
  transform-origin: right center;
  height: 189px;
  top: -1px;
}
.bf--front {
  background: rgba(255, 0, 0, 0.5);
  transform: translateY(99%) rotateX(3.9deg);
  transform-origin: top;
  height: 103px;
  bottom: -1px;
}
.bf--front2 {
  background: rgba(255, 255, 255, 0.5);
  transform: translateY(99%) rotateX(14.4deg);
  height: 48px;
}
.bf--back {
  background: rgba(0, 0, 255, 0.5);
  transform: translateY(-99%) rotateX(-3.6deg);
  transform-origin: bottom;
  height: 176px;
  top: -1px;
}
.bf--back2 {
  background: rgba(255, 255, 255, 0.5);
  height: 30px;
  transform: translateY(-99%) rotateX(-20.3deg);
}
.bf--first {
  left: 50%;
  top: 50%;
  transform: rotateY(0) translate(-50%, -50%);
}
.bf--front.bf--end {
  clip-path: polygon(50% 100%, 50% 100%, 100% 0%, 0% 0);
  //border-radius: 0 0 50% 50%;
}
.bf--back.bf--end {
  //border-radius: 50% 50% 0 0;
  clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
  //background: rgba(255, 255, 255, 0.5);
}